@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
 /*overall*/
 :root {
   --purple-1:#c79dd7;
   --purple-2: #673888;
   --purple-3:#4d1b7b;
   --pink:#ef4f91;
   --dark-blue:#363b74;
   --light-green:rgb(57, 207, 57);
   --dark-green:
   --red:rgb(255, 35, 35);
 }
*{
   font-family: 'Poppins', sans-serif;
    font-size: 16px;   
    line-height: 1.5;    
    margin: 0;
   -moz-osx-font-smoothing: grayscale;
   transition: all 1350ms ease-in-out;
    -webkit-font-smoothing: antialiased;
  }
  html {
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    body {
      background-color: white;        
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;  
  }
  #header {
      border-bottom: 1.8px solid rgb(199, 199, 199);
      border-style: none;
      height: 4rem;
      width: 100%;
  }
  #top_menu {      
      display: flex;
      align-items: center;
      float: right;
      justify-content: center;
      /* color: #270c39; */

  }
  #logo{
      border-radius: 5px;
      float: left;
      height:3.7rem;
      padding-left: 10px;
      width: 3.7rem;
  } 
  .link-container {
      height: 1.4rem;
      width: 1.4rem;
      padding: 1rem 2rem;
  }  
  .link {
    color: var(--purple-2);
    text-decoration: none;
    transition: all 850ms ease-in-out;
  } 
  .link:hover {
      color:var(--purple-3);
      font-size: 1.15em;
  } 
  .hero {
      display: flex;
      flex-direction: column;
      align-items: center;     
      background-attachment: fixed;
      background-position: x-axis y-axis;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;      
      height: 75vh;
      justify-content: center;      
      transition: width 1ms ease-in-out;
      width: 100%;
  }
.main-heading-1 {
    font-size: 8rem;
    font-family: 'Rouge Script', cursive;
}
.main-heading-2 {
    font-family: 'Rouge Script', cursive;
    font-size: 3.5rem;
    /* font-size: 2.2rem; */
      color: #363b74;
      padding: 0.7rem;
    /* transform: translateY(-30px); */
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  #rightsidebar {
      width: 180px;
      height: 350px;
      float: right;
      padding: 0.7rem;
  }
  #nav li {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 1em;
      list-style-type: none;
      border-bottom: thin solid #e0e0e0;
      color: var(--purple-3);
      left: 0px;
      list-style-position: inside;
 }
  #nav li a {
      padding: 0;
      text-decoration: none;
  }  
  #main {
      /* width: 560px; */
      width:auto;
      margin: 0 10px 50px 20px;   
      padding-right: 10px;
  }
  table.month {
      width: max(auto,65%);
  }
  .event-name {
      padding-left: 2rem;
  }
@media screen and (max-width: 749px){
    /* .hero {
        transition: width 1ms ease-in-out;
    } */
    .main-heading-1 {
        font-size: 5rem;
    }
    .main-heading-2 {
        font-size: 3rem;
        padding: 0.6rem 0;
    }
    .main-content{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #rightsidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        float: right;
        padding: 2rem 0;
    }
    #main {
        display: flex;
        flex-direction: column;
        transition: width ease-in-out;
        order: 1;
        width:auto;
        align-items: center;
        justify-content: center;
    }
    table.month{
        height: auto;
        width:min(auto,80%);
    }
}

  table.month td {
      border: 1px solid rgb(221, 221, 221);
      padding: 20px;
      text-align: center;
  }
  table.month th {
      /* padding: 2px 0px; */
      text-align: center;
  }
  th.month {
      display:none;
  }
  #footer {
      text-align: center;
      font-size: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #FFFFFF;
      border-top: thin solid #BBBBBB;
      clear: both;
      color: #969696;
  }
  ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;    
    border-radius: 3px;
}
input, textarea {
    width: 100%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169)
}
input { 
    height: 30px;
}
.success {
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: var(--light-green);
    border: 1px solid var(--light-green);
    border-radius: 3px;
}
.required label:after {
    content: "*";
}